*{
	margin: 0px;
	padding: 0px;
}
.sidebar {
    position: relative;
    height: 700px;
    background-color:rgb(28, 33, 49);
    width: 150px;
}
.sidebar ul {
    padding-top:50px;
	 width: 150px;
	padding-left: 0px;
	
}
.sidebar ul li {
    margin-bottom: 40px;
    padding-top:10px;
	list-style:none;
	width: 150px;
	
}
.sidebar ul li img {
    height: 25px;
    width: 35px;
    border-radius: 100px;
    padding-left:10px
}
.sidebar ul li a{
    color:white;
    text-decoration:none;
    position:relative;
    bottom:0px;
    left:15px;   
}


#btn11\ {
    border-radius: 10px;
    height: 30px;
    background-color: brown;
    width: 190px;
    margin-left: 10px;
    border: none;
}
.main3 {
    background-color: #238080e6;
    position: absolute;
    left: 150px;
    top: 0px;
    width: 1199px;
    height: 700px;
}
