*{
	margin: 0px;
	padding: 0px;
}
.sidebar {
    position: relative;
    height: 1000px;
    background-color:rgb(28, 33, 49);
    width: 150px;
}
.sidebar ul {
    padding-top:50px;
	 width: 150px;
}
.sidebar ul li {
    margin-bottom: 40px;
    padding-top:10px;
	list-style:none;
	 width: 150px;
}
.sidebar ul li img {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    padding-left:10px
}
.sidebar ul li a{
    color:white;
    text-decoration:none;
    position:relative;
    bottom:10px;
    left:15px;   
}
     .main {
		position: absolute;
		width: 1199px;
		top: 0px;
		left: 150px;
		height: 1000px;
		background-color:white;
	}

.header{
	height:40px;
	display:flex;
	padding:10px;
	margin-left: 20px;
}
#search{
	border:none;
	width:290px;
	border-radius:17px;
	background-color:lightgray
}
#sbtn{
	width:100px;
	margin-left:10px;
	border-radius:15px;
	border:none;
	background-color:lightgray
}
.main2 {
    color: black;
    background-color: lightgray;
    height: 939px;
    border-top: solid 1px #cdbebe;
}
.side-profile{
	height:940px;
	width:200px;
	background-color:white;
	display:flex;
	flex-direction:column;
	

}
.side-profile img{
	border-radius:100px;
	width:100px;
	height:100px;
	margin-left:40px;
	margin-top:30px;
	
	
	
}
.side-profile h5{
	margin-left:40px;
	width: 100px;
	margin-top:5px;
}
.recomendation{
	position:absolute;
	left: 230px;
	top: 95px;
	height: 160px;
	width: 650px;
	background-color: lightgray;
	border-radius: 10px;
}
.recomendation img{
	height: 160px;
	width: 650px;
	border-radius: 10px;
}
.recomendation h2 {
    position: relative;
    bottom: 135px;
}
.recomendation h3 {
    position: relative;
    bottom: 185px;
}
.food {
    height: 585px;
    width: 885px;
    background-color: white;
    position: relative;
    left: 225px;
    border-radius: 15px;
    bottom: 664px;
	display: flex;
	padding: 30px;
}
.food h4 {
    font-size: 25px;
    padding: 5px;
    color: brown;
	height: 100px;
}
.img1 {
    height: 250px;
    width: 220px;
    border: solid;
    border-radius: 10px;
    margin-left: 20px;
}
.img1 img {
    height: 150px;
    width: 170px;
    padding: 25px;
}
.f1 {
    position: relative;
    right: 800px;
    height: 260px;
    top: 325px;
}
.f1 img {
    width: 820px;
    height: 260px;
    border-radius: 15px;
}
